Bugged Out - ASP.NET/BuggedOut/Backup/BuggedOut/Web References/localhost/StringTrimWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://buggedout.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://buggedout.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://buggedout.com/">
      <s:element name="TrimString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="inStr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="trimAmount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TrimStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrimStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TrimStringSoapIn">
    <wsdl:part name="parameters" element="tns:TrimString" />
  </wsdl:message>
  <wsdl:message name="TrimStringSoapOut">
    <wsdl:part name="parameters" element="tns:TrimStringResponse" />
  </wsdl:message>
  <wsdl:portType name="StringTrimWebServiceSoap">
    <wsdl:operation name="TrimString">
      <wsdl:input message="tns:TrimStringSoapIn" />
      <wsdl:output message="tns:TrimStringSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StringTrimWebServiceSoap" type="tns:StringTrimWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TrimString">
      <soap:operation soapAction="http://buggedout.com/TrimString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StringTrimWebServiceSoap12" type="tns:StringTrimWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TrimString">
      <soap12:operation soapAction="http://buggedout.com/TrimString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StringTrimWebService">
    <wsdl:port name="StringTrimWebServiceSoap" binding="tns:StringTrimWebServiceSoap">
      <soap:address location="http://localhost:55489/StringTrimWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="StringTrimWebServiceSoap12" binding="tns:StringTrimWebServiceSoap12">
      <soap12:address location="http://localhost:55489/StringTrimWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>